#background {
    background-image: url(../../assets/img/loginpage.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    filter: brightness(120%);
}

#LoginPage{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #4c4c4c69;
    opacity: 0.8;

    .form-login{
        margin: auto;
        background: #fff;
        border-radius: 20px;
        padding: 20px;

        .title{
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }

        .login-form-button{
            width: 100%;
        }
    }
}